html, body{
  background-color: #f0f0fa;
  padding: 0;

}
header {
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #c0c0c0;
}

header h1{
  margin-left: auto;
  margin-right:auto ;
}
header nav {
  margin-right: auto;
  margin-left: auto;
}

header div{
  width: 1000px;
  height: 100%;
  display: flex;
  align-items: center;

}

main{
  display: flex;
  align-items: center;
}

ul{
  display: flex;
  list-style: none;
}

li a{
  text-decoration: none;
  margin: 5px 10px;
  padding-bottom: 45px;
}

/* li a:hover{
  border-bottom: solid yellow;
}  */

li span.borda  {

  border-bottom: aquamarine;
}

li  span.borda:hover {
  transition-duration: .2s;

  border-bottom: solid aquamarine;
  transform: scaleX(1);

}

.wrapper, .wrapper a{
  color:  rgb(66, 57, 57);
}